version: '3'
services:
  db:
    image: postgres:10.3
    ports:
      - 5432:5432

  redis:
    image: redis:5.0
    ports:
      - 6379:6379

  sidekiq:
    build: .
    image: ktmouk/hackaru-api:latest
    command: bundle exec sidekiq
    links:
      - db
      - redis

  api:
    build: .
    image: ktmouk/hackaru-api:latest
    command: /bin/sh -c 'rm -f tmp/pids/server.pid && rails s -b 0.0.0.0'
    ports:
      - 3000:3000
    links:
      - db
      - redis
