<section>
  <h1 class="title">
    <%= t('.instruction') %>
  </h1>
  <p>
    <%= t('.instruction_2') %><br>
    <%= t('.instruction_3') %>
  </p>
  <p><%= link_to t('.reset_password'), @url, class: 'link-button' %></p>
</section>
