@import '../modules/main';

body {
  color: $text;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
}
.body-wrapper {
  padding: 40px;
  background-color: $grey-f5f5f5;
}
a {
  color: $text-primary;
}
.logo-header {
  margin-bottom: 10px;
}
.wrapper {
  background-color: $white;
  padding: 55px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-bottom: 3px solid $border;
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}
.title {
  align-items: center;
  font-weight: normal;
  margin: 0;
  font-size: 22px;
  .icon {
    margin-right: 10px;
    width: 14px;
  }
}
.link-button {
  margin-top: 25px;
  display: inline-block;
  padding: 15px 20px;
  background-color: $cyan;
  line-height: 1;
  border-radius: 3px;
  color: $white;
  text-decoration: none;
  border: 0;
}
.footer {
  span {
    color: $grey-ccc;
    margin: 0 5px;
  }
  a {
    color: $text-light;
    text-decoration: none;
  }
}
.content {
  padding: 40px 0;
  margin-bottom: 20px;
  border-bottom: 1px $border solid;
}
