@import '~normalize.css/normalize';
@import '~c3/c3.min';

@page {
  margin: 50px 0;
  margin-bottom: 60px;
}
body {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  padding: 0 55px;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  -webkit-print-color-adjust: exact;
}
.page {
  page-break-after: always;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #eee;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.title {
  font-weight: normal;
  margin: 0;
  font-size: 24px;
  align-items: center;
  display: flex;
  margin-right: 20px;
}
.content-header {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    color: #666;
    span {
      margin: 0 5px;
    }
  }
}
#bar-chart {
  box-sizing: border-box;
  height: 250px;
  margin-left: -30px;
  margin-bottom: 20px;
}
#donut-chart {
  width: 250px;
  height: 250px;
  flex-shrink: 1;
}
.content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.projects {
  width: 100%;
  padding: 0;
  padding-right: 60px;
  box-sizing: border-box;
}
.project-name {
  display: flex;
  align-items: center;
}
.dot {
  width: 8px;
  height: 8px;
  display: block;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 15px;
}
.projects li {
  height: 50px;
  align-items: center;
  display: flex;
  border-bottom: 1px #eee solid;
  justify-content: space-between;
}
.c3-axis-y text,
.c3-axis-x text {
  font-family: 'Roboto';
}
.c3-chart-arc path {
  stroke-width: 0;
}
.activity {
  border-bottom: 1px #eee solid;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  page-break-inside: avoid;
  &:last-child {
    border-bottom: 1px #eee solid;
  }
}
.activity-name {
  display: flex;
  align-items: center;
  overflow: hidden;
  h1 {
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: inline;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 30px;
  }
}
