body {
  color: $text;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

.body-wrapper {
  background-color: $grey-f5f5f5;
  padding: 40px 0;
}

a {
  color: $text-primary;
}

.logo-header {
  margin-bottom: 10px;
}

.wrapper {
  background-color: $white;
  border-bottom: 3px solid $border;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 650px;
  min-width: 500px;
  padding: 55px;
  padding-bottom: 40px;
  width: 100%;
}

.title {
  align-items: center;
  font-size: 22px;
  font-weight: normal;
  margin: 0;

  .icon {
    margin-right: 10px;
    width: 14px;
  }
}

.link-button {
  background-color: $cyan;
  border: 0;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  line-height: 1;
  margin-top: 25px;
  padding: 15px 20px;
  text-decoration: none;
}

.footer {
  span {
    color: $grey-ccc;
    margin: 0 5px;
  }

  a {
    text-decoration: none;
  }
}

.content {
  border-bottom: 1px $border solid;
  margin-bottom: 20px;
  padding: 40px 0;
}
