// Color
$grey-333: #333c4f;
$grey-666: #68757d;
$grey-999: #9aa5ab;
$grey-ccc: #cdd0d1;
$grey-eee: #eee;
$grey-f0f0f0: #f0f1f2;
$grey-f5f5f5: #f5f6f7;
$grey-fafafa: #fafafc;
$grey-fdfdfd: #fdfdfd;
$cyan: #1aa7ba;
$green: #7da87b;
$yellow: #ffd96a;
$red: #eb4f34;
$white: #fff;
$black: #000;
$white-light: #fffffff5;
$white-lighter: #fffffff0;

// Backdrop
$backdrop-color: var(--backdrop-color);

// Text
$text: $grey-333;
$text-light: $grey-666;
$text-lighter: $grey-999;
$text-primary: $cyan;

// Font
$font-size: 16px;
$font-family: system-ui, -apple-system, sans-serif;
$font-family-duration: 'Arial', sans-serif;
$line-height: 1.5;

// PDF Font
$pdf-font-size: 14px;
$pdf-font-family: 'Roboto', 'Noto Sans JP', sans-serif;
$pdf-line-height: 1.5;

// Shadow
$shadow: #00000005;

// Border
$border: $grey-f0f0f0;
$border-dark: $grey-eee;

// Background
$background: $grey-f5f5f5;

// Animation
$animation-duration: 0.25s;

// MediaQueries
$breakpoints: (
  'small': 640px,
);
