@import '../modules/main';

.dot-text {
  padding: 18px 0;
  border-bottom: 1px $border solid;
  vertical-align: baseline;
  align-items: center;
  overflow: hidden;
  margin: 20px 0;
  .dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
  }
  .name {
    float: left;
    display: block;
    width: 80%;
    padding-right: 20px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .duration {
    float: right;
    display: block;
    color: $text-light;
    font-family: $font-family-duration;
  }
}
