@import '../modules/main';

.header {
  float: left;
  margin-bottom: 30px;
  h1 {
    margin-right: 10px;
  }
  p {
    font-size: 18px;
    margin: 0;
    color: $text-light;
    margin-top: 5px;
    span {
      margin: 0 5px;
    }
  }
}
.projects {
  margin-top: 40px;
}
.dot-list {
  padding: 0;
  box-sizing: border-box;
}
.dot-list li {
  vertical-align: baseline;
  align-items: center;
  overflow: hidden;
  .dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
  }
  .name {
    float: left;
    display: block;
    height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .duration {
    float: right;
    display: block;
    margin-left: 20px;
    color: $text-light;
  }
}
.activity-list {
  padding-top: 10px;
  padding-bottom: 70px;
}
