.instruction {
  background-color: $grey-fafafa;
  border-radius: 5px;
  margin-top: 20px;
  padding: 30px;
  .title {
    font-size: 18px;
  }
}

.instruction ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
.instruction li {
  margin-top: 5px;
  .icon {
    margin: 0 5px;
    width: 16px;
  }
}
