@import '../modules/main';

.instruction {
  margin-top: 20px;
  background-color: $grey-fafafa;
  padding: 30px;
  border-radius: 5px;
  .title {
    font-size: 18px;
  }
}
.instruction ol {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  list-style-position: inside;
}
.instruction li {
  margin-top: 5px;
  .feather {
    margin: 0 5px;
    width: 20px;
    height: 20px;
  }
}
