@import '../../modules/main';
@import '~c3/c3.min';

.logo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $border-dark;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.page .title {
  font-weight: normal;
  margin: 0;
  font-size: 24px;
  align-items: center;
  display: flex;
  margin-right: 20px;
}
.page .header {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  p {
    font-size: 16px;
    margin: 0;
    margin-top: 15px;
    span {
      margin: 0 5px;
    }
  }
}
#bar-chart {
  box-sizing: border-box;
  height: 250px;
  margin-left: -30px;
  margin-bottom: 20px;
}
#donut-chart {
  width: 250px;
  height: 250px;
  flex-shrink: 1;
}
.content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.projects {
  width: 100%;
  padding: 0;
  padding-right: 60px;
  box-sizing: border-box;
}
.projects li {
  height: 40px;
  list-style-type: none;
}
.c3-axis-y text,
.c3-axis-x text {
  font-family: 'Roboto';
}
.c3-chart-arc path {
  stroke-width: 0;
}
.activity-list {
  padding: 0;
  padding-top: 10px;
  box-sizing: border-box;
}
.activity-list li {
  padding: 18px 0;
  border-bottom: 1px $border solid;
  list-style-type: none;
  margin: 0;
}
