body {
  color: #333c4f;
  font-size: 16px;
  margin: 40px;
  line-height: 1.5;
}
.title {
  font-size: 21px;
  font-weight: 200;
  margin: 0;
}
.link-button {
  margin: 20px 0;
  padding: 15px 20px;
  justify-content: flex-start;
  align-items: center;
  display: inline-block;
  background-color: #1aa7ba;
  line-height: 1;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  border: 0;
}
.footer a {
  color: #9aa5ab;
  font-size: 14px;
  text-decoration: none;
}
.content {
  border: 1px #eee solid;
  border-left: 0;
  border-right: 0;
  margin: 20px 0;
  padding: 40px 0;
  padding-top: 70px;
}
