body {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  padding: 0 40px;
  font-family: 'Noto Sans', sans-serif;
}

.header {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #eee;
}

.content header {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  h1 {
    font-weight: normal;
    margin: 0;
    font-size: 24px;
    align-items: center;
    display: flex;
    margin-right: 20px;
  }
  p {
    color: #666;
    font-size: 18px;
    margin: 0;
  }
}

#bar-chart {
  box-sizing: border-box;
  height: 250px;
  margin-left: -30px;
}

#donut-chart {
  width: 250px;
  height: 250px;
}
