body {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  padding: 0 30px;
  font-family: 'Noto Sans', sans-serif;
}

.header {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #eee;
}

h1 {
  font-weight: normal;
}

#pie-chart {
  width: 500px;
  height: 500px;
}
