@import '~normalize.css/normalize';

body {
  color: #333c4f;
  background-color: #fff;
  font-size: 16px;
  margin: 40px;
  line-height: 1.5;
}
a {
  color: #1aa7ba;
}
.title {
  font-weight: 200;
  margin: 0;
  font-size: 23px;
}
.title.is-small {
  font-size: 20px;
}
.link-button {
  margin: 20px 0;
  display: inline-block;
  padding: 15px 20px;
  background-color: #1aa7ba;
  line-height: 1;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  border: 0;
}
.instruction {
  margin-top: 50px;
  .icon {
    margin: 0 5px;
  }
  ol li {
    margin-bottom: 5px;
  }
}
.footer a {
  color: #9aa5ab;
  font-size: 14px;
  text-decoration: none;
}
.content {
  border-top: 1px #eee solid;
  margin-top: 20px;
  padding: 70px 0;
  padding-bottom: 50px;
}
.with-border {
  margin-top: 60px;
  padding-top: 50px;
  border-top: 1px #eee solid;
}
