.dot-text {
  align-items: center;
  margin: 0;
  overflow: hidden;
  vertical-align: baseline;
  width: 100%;
  .dot {
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin-right: 15px;
    width: 8px;
  }
  .text {
    box-sizing: border-box;
    display: block;
    float: left;
    overflow: hidden;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
  }
  .duration {
    display: block;
    float: right;
    font-family: $font-family-duration;
  }
}
